# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

test-results/
playwright-report/
/.vs/OspreyTrack.slnx/FileContentIndex/3aa46378-d8dc-4c34-975f-c65311ffac1e.vsidx
/.vs/OspreyTrack.slnx/FileContentIndex/merges/e7c79e26-8e5c-45f6-968d-c08408238edc.vsidx
/.vs/OspreyTrack.slnx/FileContentIndex/merges/d142b897-d4c3-42eb-8846-afc4db969e28.vsidx
/.vs/OspreyTrack.slnx/FileContentIndex/11da227b-1102-4d1d-956f-019ee273d08e.vsidx
*.vsidx
